.top-section {
    background-color: #f9fbfe;
}

.top-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: bold;
}

.top-section-description {
    color: #616c7c;
    font-family: "Roboto";
    font-size: 16px;
}

.card {
    text-align: center;
    background-color: white;

}

.image {
    width: 87px;
    height: 90px;
    text-align: center;
    margin-left: 110px;
}

.title {
    color: #1f2933;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 700;
}

.description {
    color: #7b8794;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
}