.bg-container {
    background-color: #0d2436;
    background-size: cover;
}

.heading {
    color: #cced00;
    font-family: "Roboto";
    font-size: 25px;
    font-weight: 500;
}

.description {
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 20px;
}

.card {
    text-align: center;
    background-color: #323f4b;
}

.image {
    width: 80;
    height: 80px;
    border-radius: 40px;
}

.icon {
    color: #5a7184;
    font-size: 25px;
}

.copyright-container {
    text-align: center;
    color: #ffffff;
    background-color: #001c32;
    padding: 10px;
}

.text {
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 15px;
}